
* {
  box-sizing: border-box;
  font-family: "Arial", "Calibri", "sans-serif";
  line-height: 1.6;
}

body {
  margin: 0;
}

header {
  background-color: rgba(150, 150, 150, 1);
  height: 600px;
  overflow: auto;
}

#TitleImage {
  background: url("../images/walking_to_school_Cropped.jpg") 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}

#Title {
  position: absolute;
  bottom: 60%;
  left: 10%;
  color: white;
}

#Title h1 {
  font-size: 50px;
}

#Title p {
  font-size: 30px;
}

.textContainer {
  height: auto;
  overflow: auto;
}

.imageContainer {
  height: 100%;
  overflow: auto;
}


article {
  margin-left: 10%;
  margin-right: 10%;
  float: left;
  background-color: rgba(200, 200, 200, 1);
  height: 500px;
  overflow: auto;
}
