
* {
  box-sizing: border-box;
  font-family: Arial;
}

body {
  margin: 0;
}

header {
  background-color: rgba(150, 150, 150, 1);
  height: 700px;
  overflow: auto;
}

#TitleImage {
  background: url("../images/walking_to_school.jpg") 0 -200px;
  background-repeat: no-repeat;
  background-size: cover;
}

#Title {
  position: absolute;
  bottom: 200px;
  left: 100px;
  color: white;
}

#Title h1 {
  font-size: 50px;
}

#Title p {
  font-size: 30px;
}

.textContainer {
  height: auto;
  overflow: auto;
}

.imageContainer {
  height: 100%;
  overflow: auto;
}


article {
  margin-left: 15%;
  margin-right: 15%;
  width: 70%;
  background-color: rgba(200, 200, 200, 1);
  height: 500px;
  overflow: auto;
}
