/*
This website was created with the text editors:
  Atom (https://atom.io/)
  WebStorm (https://www.jetbrains.com/webstorm/)
*/

@font-face {
  font-family: eina;
  src: url("../fonts/eina_regular.woff2");
}

@font-face {
  font-family: eina;
  src: url("../fonts/eina_bold.woff2");
  font-weight: bold;
}

* {
  box-sizing: border-box;
  font-family: "eina", "Arial", "Calibri", "sans-serif";
  line-height: 2;
}

body {
  margin: 0px;
}

h2 {
  font-size: 30px;
  font-style: normal;
}

h3 {
  font-size: 20px;
  text-align: center;
}



/*Styles for header*/
header {
  height: 600px;
  overflow: auto;
  position: relative;
}

#TitleImage {
  background: url("https://b-moritz.github.io/DropBack/css/walkingToSchoolCropped.jpg") 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: right;
}

#Title {
  font-size: 30px;
  margin-bottom: 175px;
}

#Sub-title {
  font-size: 40px;
}

.textContainer {
  height: auto;
  overflow: auto;
  position: absolute;
  top: 15%;
  left: 18%;
  color: white;
}

.imageContainer {
  overflow: auto;
}
/*End styles for header*/



/*Styles for main article*/
article {
  background-color: white;
  height: auto;
  overflow: auto;
  width: 100%;
  padding-bottom: 150px;
}

.sideMarginForText {
  margin-left: 18%;
  margin-right: 18%;
}

.row {
  padding-top: 50px;
  padding-bottom: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.textbox {
  padding-right: 10%;
  padding-bottom: 50px;
  width: 70%;
  float: left;
}

.box {
  background-color: #d0e4d8;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
  width: 30%;
  float: left;
  font-style: italic;
  overflow: auto;
}
/*End styles for main article*/



/*Styles applied for smaller borwser windows*/
@media screen and (max-width: 1000px) {
  /*Main article*/
  .textbox {
    width: 100%;
  }
  .box {
    width: 100%;
  }
  .sideMarginForText {
    margin-left: 50px;
    margin-right: 50px;
  }
  /*End main article*/


  /*Header*/
  .textContainer {
    left: 50px;
  }

  #Title {
    margin-bottom: 12vw;
  }
  /*End header*/
}
/*End styles applied for smaller browser windows*/


#ImageUnderText {
  font-size: 12px;
  font-style: italic;
  margin-left: 18%;
  margin-right: 18%;
}


/*Styles for map image in main article*/
figure {
  margin: 0;
}

#MapImage {
  max-width: 100%;
  height: auto;
}

.imageDescription {
  font-style: normal;
  margin-top: 0;
}

figcaption p {
  font-size: 15px;
}

figcaption > div {
  width: 100%;
  clear: both;
}

.redDot {
  float: left;
  width: auto;
  height: auto;
  overflow: auto;
  padding-top: 5px;
}

.redDotText {
  float: left;
  width: auto;
  margin: 0;
  padding-left: 10px;
}
/*End styles for map image*/


/*Styles for the footer*/
footer {
  text-align: center;
  padding: 1px;
  background-color: #d0e4d8;
  color: black;
  overflow: auto;
}

#Footer-text p {
  font-size: 16px;
}

.left {
  width: 100%;
  height: 175px;
  float: left;
  padding-bottom: 50px;
}
.right {
  width: 50%;
  height: 175px;
  float: right;
}
/*End styles for footer*/
